/* 首页大标题 */
body.is-home > header h1 {
  color: #ffd166;
  font-weight: 600;
  text-shadow: 0 2px 8px #000;
}

/* 首页副标题 */
body.is-home > header h2 {
  color: #ffffff;
  text-shadow: 0 2px 6px #000;
}

/* 首页左上角博客名称 */
body.is-home > header nav a {
  color: #ffd166;
}